/* Formatovani oddilu stranky */
.header {

}

.controls {
  font-size: 12px;
  color: grey;
}

p.controls {
  border-left: solid;
  border-width: thin;
  padding-left: 8px;
  margin-bottom: 8px;
  border-bottom: solid;
  border-bottom-width: thin;
  width: 50%;
}

.look {

}

.speak {

}

.movement {

}

.inventory {

}

.footer {
  margin-bottom: 20px;
}

.roomBody {
  width: 50%;
}

.cmd {
  width: 400px;
}

/* Formatovani tlacitek */
.button {
  width: 130px;
  height: 30px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  color: black;
  border-style: dashed;
  border-width: thin;
}

.hidden {
  display: none;
}

.exec {
  margin-top: 5px;
}

/* Formatovani spcialnich bloku */
#r_roomName {
  display: inline-block;
  border-right-style: solid;
  border-left-style: solid;
  border-width: thin;
  padding-left: 1%;
  padding-right: 1%;
  font-variant: small-caps;
}

#r_msg_output {
  font-family: "Lucida Sans Typewriter";
  border-bottom-style: solid;
  border-width: thin;
  padding-bottom: 50px;
  font-size: 20px;
  text-align: justify;
  text-indent: 20px;
  min-height: 250px;
  background-image: url("../img/spider_web1.png");
  background-repeat: no-repeat;
  background-position: right bottom;

}

/*#r_msg_output:first-letter {
  font-size: 3em;
  font-family: "Edwardian Script ITC", "Brush Script MT", cursive;
}*/
